---
import Head from "../../components/Head.astro";

import "../../styles/waste.css";

import { types as ctypes } from "../../colours";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { getEntries } from "astro:content";
import WasteProject from "./WasteProject.astro";
import type { InferEntrySchema } from "astro:content";

export async function getStaticPaths() {
    const wastes = await getCollection("wastes", (waste) => {
        const hasSlug = waste.data.slug !== null;
        const hasCategory = waste.data.category !== null;
        return hasSlug && hasCategory;
    });
    return wastes.map((waste) => ({
        params: { slug: waste.data.slug },
        props: { waste: waste.data },
    }));
}

interface Props {
    waste: InferEntrySchema<"wastes">;
}

const DIRECTUS_URL = import.meta.env.DIRECTUS_URL;

const waste = Astro.props.waste;
//console.log("waste", waste);

const projects = (await getEntries(waste.projects)).map((p) => p.data);
---

<html lang="en">
    <head>
        <Head />
        <title>{waste.name} - {waste.location}</title>
    </head>
    <body>
        <main>
            <section class="flex flex-row p-5 gap-2 pb-12">
                <div class="flex-6">
                    <h1>{waste.name}</h1>
                    <h2 style={`color: ${ctypes[waste.category].sub}`}>
                        {waste.location}
                    </h2>

                    <dl class="mt-1">
                        <dt>Type of waste</dt>
                        <dd class="capitalize">{waste.category}</dd>
                    </dl>

                    <p class="mt-3">{waste.description}</p>
                </div>

                <div class="flex-4">
                    <img
                        class="h-0 ml-auto min-h-full object-contain"
                        src={`${DIRECTUS_URL}/assets/${waste.image}`}
                    />
                </div>
            </section>

            <section
                class="projects p-10 flex flex-col gap-10"
                style={`background: ${ctypes[waste.category].banner}b3`}
            >
                {
                    projects.map((project) => (
                        <WasteProject waste={waste} project={project} />
                    ))
                }
            </section>

            <div class="banner-wrap">
                <div class="banner">
                    <span>{waste.characteristics}</span><span
                        >{waste.characteristics}</span
                    >
                </div>
            </div>
        </main>
    </body>
</html>
