---
import directus from "../../lib/directus";
import { readItems } from "@directus/sdk";
import { Font } from "astro:assets";
import "../../styles/global.css";

export async function getStaticPaths() {
  const waste = await directus.request(
    readItems("waste", {
      fields: ["*", { projects: ["*"] }],
    }),
  );

  return waste
    .filter((waste) => !!waste.slug)
    .map((waste) => ({
      params: { waste: waste.slug },
      props: waste,
    }));
}

const waste = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>TODO:</title>
    <Font cssVariable="--font-switzer" preload />
    <Font cssVariable="--font-erode" preload />
    <link rel="stylesheet" href="/reset.css" />

    <style>
      html,
      body {
        height: 100%;
      }

      h1 {
        font-family: var(--font-switzer);
        font-size: 100px;
        margin: 0;
        font-weight: 500;
      }

      h2 {
        font-family: var(--font-erode);
        margin: 0;
        color: #979c35;
        font-size: 40px;
        font-weight: 500;
      }

      p {
        font-size: 16px;
        font-family: var(--font-switzer);
      }

      .banner {
        background-color: #fdd22a;
        color: #000;
        font-family: var(--font-erode);
        font-weight: 500;
        font-size: 64px;
        position: absolute;
        top: 0px;
        right: -100px;
        width: 100%;
        transform: rotate(45deg);
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        gap: 0;
        width: 500px;
      }

      .banner:hover span {
        animation-play-state: paused;
      }

      .banner span {
        padding-left: 0.8ch;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-name: marquee-content;
        animation-timing-function: linear;
        display: block;
      }

      @keyframes marquee-content {
        0% {
          transform: translateX(100);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      .projects {
        padding: 40px;
        background-color: #9caf88;
        overflow-x: auto;
        overflow-y: hidden;
      }

      .project {
        display: flex;
        flex-direction: row;
        gap: 20px;
        border-radius: 20px;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <nav>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5 12l14 0"></path><path d="M5 12l4 4"></path><path
            d="M5 12l4 -4"></path></svg
        >
      </button>
    </nav>
    <main>
      <section class="flex flex-row">
        <div>
          <h1>{waste.name}</h1>
          <h2>{waste.location}</h2>
          <p>{waste.description}</p>
        </div>

        <div>
          <img src={`${import.meta.env.DIRECTUS_URL}/assets/${waste.image}`} />
        </div>
      </section>

      <section class="projects">
        {
          waste.projects?.map((project) => {
            return <div class="project">{project.name}</div>;
          })
        }
      </section>

      <div class="banner">
        <span>{waste.characteristics}</span><span>{waste.characteristics}</span>
      </div>
    </main>
  </body>
</html>
