---
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import { types as ctypes } from "../../colours";
import type { InferEntrySchema } from "astro:content";

interface Props {
    project: InferEntrySchema<"projects">;
    waste: InferEntrySchema<"wastes">;
}

const DIRECTUS_URL = import.meta.env.DIRECTUS_URL;

const waste = Astro.props.waste;
const project = Astro.props.project;
console.log("images", project);
// const images = (await getEntries(project.images)).map((i) => {
//     console.log("image", i);
//     return i.data;
// });
---

<div class="project">
    <h3 class="text-3xl font-medium mb-4">
        {project.name}
    </h3>
    <div class="flex flex-row gap-10">
        <div class="flex-1">
            <!-- <img src={`${DIRECTUS_URL}/assets/${images[0].id}?width=800`} /> -->
        </div>
        <div
            class="desc flex-2"
            style={`background: ${ctypes[waste.category].banner}`}
            set:html={project.description}
        />
    </div>
</div>
